#campus {
    margin-top: 20vh;
    background-color: rgb(179 165 172 / 7%);
    padding: 5rem 0.5rem;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campusHeroTxt {
    text-align: center;
    line-height: 2.5rem;
}

.campusHeroTxt h3 {
    font-size: 2.4rem;
}

.campusHeroTxt p {
    font-size: 1.2rem;
}

.library {
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
}

.libraryHeroTxt {
    position: absolute;
    top: 5vh;
    left: 5vw;
    padding: 1.1rem;
    border-radius: 0rem 1rem 1rem 1rem;

    background: rgb(0 0 0 / 6%);
    backdrop-filter: blur(0.1rem);
    z-index: 1;
}

.library img {
    opacity: 0.8;
    min-width: 50vw;
    max-width: 50vw;
    border-radius: 0rem 1rem 1rem 1rem;
    box-shadow: 0.1rem 0.1rem #00000050;
}

.library h6 {
    font-size: 1.2rem;
}

.library p {
    font-size: 1rem;
    opacity: 0.7;
}

.sports {
    margin-top: 3rem;
}

.sports h6 {
    text-align: center;
    font-size: 2rem;
}

.sportsCardContainer {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sportCard {
    height: 30vh;
    width: 20vw;
    background-color: rgb(96, 172, 100);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    position: relative;
    overflow: hidden;
}

.sportCard img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.sportCard:hover {
    transform: translateY(-1rem) scale(1);
    box-shadow: 0.2rem 0.2rem 0.5rem #0000003b;
}

.labs {
    margin-top: 3rem;
    height: 40vh;
    /* background-color: rgba(146, 146, 62, 0.356); */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.labs h6 {
    /* text-align: center; */
    font-size: 2rem;
}

.labImgs {
    display: flex;
    /* width: 80vw; */
    height: 30vh;
    margin-top: 1rem;
    /* background-color: rgba(0, 0, 255, 0.253); */
    gap: 2rem;
}

.computerLabs {
    /* background-color: rgba(220, 20, 60, 0.178); */
    overflow: hidden;
}

.bioLabs {
    /* background-color: rgba(128, 255, 0, 0.253); */
    max-width: 50%;
    overflow: hidden;
}

.LabBothImg {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border: 0.2rem solid #00800042;
}


@media (max-width: 500px) {
    #campus {
     margin-top: 0;}
    .libraryHeroTxt {
        width: 30vw;
        height: 10vh;
        top: 1vh;
        left: 1vw;
        padding: 0.5rem;
    }
    .library h6 {
    font-size: 1rem;
}
.library p {
    font-size: 0.7rem;
}
.labImgs {
    flex-direction: column;
}
.sportsCardContainer {
    flex-direction: column;
}
.sportCard {
    height: 30vh;
    width: 65vw;
}
.campusHeroTxt p {
    font-size: 0.7rem;
    line-height: 1rem;
}
.campusHeroTxt h3 {
    font-size: 1.5rem;
}

}